.desc_course{
    box-shadow: 0 5px 40px rgb(0 0 0 / 12%);
    border-radius: 5px;
}
#single_course_header {
    padding: 0;
    height: 550px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.standard_wrapper{background: rgba(2,2,2,0.7);height: 100%;}
.single_course_title{height: 100%;}

.stars-card svg.active {color: #ffc600;fill: #ffc600;}
.tab-content p{line-height: 2;}

.reviews-rate {
    vertical-align: top;
    text-align: center;
}
.reviews-rate .review-number {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -2px;
}
.progress{
    border-radius: 5px;
    background: #f2f3f5 !important;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 160px);
}
.progress .progress-bar {
    border-radius: 5px;
    background: var(--cafe-color) !important;
    height: 20px;
}

.reviews-stars select{
    padding: 0px 10px;
    margin: 17px 0 0;
    box-shadow: 2px 2px 2px #ddd;
    background: #f2f3f5 !important;
}