.hero-home{min-height:30rem}
.hero h2{font-size: 50px;}
.hero .img-gradient {
    position: relative;
    z-index: 99;
}
.hero .img-gradient::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 30%;
    position: absolute;
    bottom: -2rem;
    left: -2rem;
    background: linear-gradient(45deg, var(--cafe-color), var(--cafe-dark-color));
    border-radius: .25rem;
    z-index: -1;
    opacity: 0.5;
}
.hero .img-gradient-right::before {right: auto;left: -2rem;}
.hero .img-gradient-left::before, .hero .img-gradient-right::before {
    width: 70%;
    height: 70%;
    padding-bottom: 0;
}

.hero .numeric-block{position:relative}
.hero .numeric-block-count{
    position:absolute;
    color: #c2c571;
    top: 20%;
    right: 20%;
    font-size: 17rem;
    font-weight:700;
    opacity:0.3;
    z-index:-1;
    line-height:1
}

.hero p{line-height: 2;}

.our_msg .img-gradient-right::before {left: auto;right: -2rem;}
.our_msg .numeric-block-count{font-size: 10rem;}

