<div class="col-lg-2">
    <div class="list">
        <h2><a href="../index">Omnia</a></h2>
        <hr>
        <p><i class="fa fa-tachometer"></i> <a href="../admin">Dashboard</a></p>
        <hr>
        <p class="head">Addition</p>
        <p><i class="fa fa-id-card-o"></i> <a href="../sites">Add New Web</a></p>
        <hr>
        <p><i class="fa fa-file-pdf-o"></i> <a href="../certificates">Add New Certificate</a></p>
        <hr>
        <p class="head">Views</p>
        <div class="accordion" id="accordionExample"> <!--pages starts-->
            <div class="accordion-item">
                <i class="fa fa-folder"></i>
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="navbar-toggler-icon">Pages</span>
                </button>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class=" me-auto mb-2 mb-lg-0">
                            <li>
                                <a href="../admin#websites" id="webBtn">Websites</a>
                            </li>
                            <li>
                                <a href="../admin#certificates" id="certificBtn">Certificates</a>
                            </li>
                            <li>
                                <a href="../admin#reviews" id="reviewBtn">Reviews</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--pages enda-->
        <hr>
    </div> <!--end list-->
</div>