<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="all">
        <div class="row rall">
            <%- include("./partials/sidebar.ejs") %>
            <div class="col-lg-10">

                <div class="container">
                    <div class="add">
                        <h1>Add New Website</h1>
                        <hr>
                    </div>
                    <div class="addPage">
                        <form action="/sites" method="POST" enctype="multipart/form-data">
                            <table class="table mt-4">
                                <tr>
                                    <th>Name</th>
                                    <td><input type="text" name="name"></td>
                                </tr>
                                <tr>
                                    <th>Image</th>
                                    <td><input type="file" name="image" multiple accept="image/*" required></td>
                                </tr>
                                <tr>
                                    <th>GitHub</th>
                                    <td><input type="text" name="github"></td>
                                </tr>
                                <tr>
                                    <th>Behance</th>
                                    <td><input type="text" name="behance"></td>
                                </tr>
                            </table>
                            <input type="submit" value="Add">
                            <input type="reset" value="Reset">
                        </form>

                        <hr>
                        <!-- add certificate -->
                        <div></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/admin.js"></script>
</body>
</html>