@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Leckerli+One&family=Lobster&family=Open+Sans:wght@300&family=Oswald:wght@200;300;400;600&family=Playball&family=Raleway:wght@800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); 
/* font-family: 'Oswald', cursive; */
/* #17181D => black --------  #292c35 => grey ------  #E09145 => orange ---------  #fcd9b8 => caffee*/

body{background-color: black;}
*{margin: 0;padding: 0;color: #fff;}

.navbar .navbar-brand{font-family: 'Bangers', cursive;color: #E09145;font-size: 70px;}
.navbar .navbar-collapse{flex-grow: 0;}
.navbar ul li{margin-right: 50px;font-size: 20px;font-family: 'Oswald', cursive;}
.navbar ul li a{color:#fff; cursor: pointer;}
.navbar ul li a:hover{color:#E09145;}
.navbar ul .contact{border:2px solid #E09145;border-radius: 6px;padding: 0px 15px;}

/* =====  intro ====== */
.intro{padding: 120px 0 0;}
.intro h5{font-weight: bold;}
.intro h1{font-size: 50px;font-weight: bold;margin: 20px 0;font-family: 'Oswald', cursive;}
.intro h1 span{color: #E09145;font-size: 70px;}
.intro .icons i{
    background-color: #292C35;
    margin:30px 30px 0 0;
    padding: 20px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}
.intro img{width: 74%;height: 100%;}
/* filter: drop-shadow(1px 15px 23px #292C35); */
.border1{
    border-bottom:1px solid transparent;
    border-radius: 50%;
    margin-top: -115px;
    box-shadow: inset -34px -24px 27px -15px #E09145;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

/* ======= about ======= */
.about{background-color: #292C35;margin-top: 100px;}
.about img{width: 100%;height: 100%;}
.about .info{margin: 70px 0}
.about h2{
    margin: 0 0 30px 0;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Oswald', cursive;
    font-weight: bold;
}

/* ====== service ========= */
.service{margin-top:100px;}
.service h2{font-size:60px;text-transform: uppercase;font-family: 'Oswald', cursive;font-weight: bold;margin-bottom:60px}
.service .info{box-shadow: 2px 2px 6px #fff;background-color: #292C35;border-radius: 5px;padding: 24px;}
.service img{width:100%;height:100%}
.service .info h3{font-family: 'Oswald', cursive;padding-top: 20px;}

/* ========= portfoli ====== */
.portfolio{padding-top: 100px;}
.portfolio h2{font-size:60px;text-transform: uppercase;font-family: 'Oswald', cursive;font-weight: bold;margin-bottom:60px}
.portfolio .info{max-height: 200px;}
.portfolio .info img{width: 100%;height: 200px;}

/* ===== balls ====== */

.ball {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 80%;
    left: 80%;
    opacity: 0.4;
    z-index: 0;
    border-radius: 128px;
    background: transparent;
    box-shadow: inset 1px 2px 4px 3px #fcd9b8, inset 1px 2px 3px 2px #363636, inset 0px -40px 47px -18px #fcd9b8;
}
.ball::before{
    content: " ";
    position: absolute;
    top: 54px;
    left: 10px;
    height: 26px;
    width: 56px;
    border: 20px solid transparent;
    border-top-color: #fcd9b8;
    border-radius: 50% 50% 0 0;
    transform: rotate(298deg);
    background: transparent;
}
.ball::after{
    content: " ";
    position: absolute;
    top: 37px;
    left: 100px;
    height: 26px;
    width: 56px;
    border: 20px solid transparent;
    border-top-color:#fcd9b8;
    border-radius: 50% 50% 0 0;
    transform: rotate(59deg);
    background: transparent;
}

.intro .b2{top: 28%;left: 16%;height: 100px;width: 100px;}
.intro .b3{top: 20%;left: 72%;height: 100px;width: 100px;}
.b2::after,.b3::after{top: 26px;left: 38px;height: 9px;width: 59px;}
.b2::before,.b3::before{border: 0;}