/* @media (max-width:992px) {
    .border1{ margin-top: 0;}
    .ball {top: 144%;left: 69%;}
    .intro .b2 {top: 26%;left: 21%;}
    .intro .b3 {top: 64%;left: 71%;}
} */
@media (min-width:1200px) {.ball {left: 82%}}
@media (max-width:1200px) {
    .intro h1 span{font-size: 56px;}
    .intro img{width: 70%;}
    .ball {left: 79%;top: 70%;}
    .intro .b3 {left: 78%;}
    .intro .icons i {margin: 15px 30px 0 0;}
}
@media (min-width:992px) and (max-width:1127px) {}
@media (max-width:1127px) {
    .ball {left: 82%;top: 74%;width: 170px;height: 170px;}
    .intro .b3 {width: 74px;height: 74px;}
    .b3::after {
        top: 14px;
        left: 14px;
        height: 0;
        width: 58px;
    }
}

@media (max-width:992px) {
    .intro {padding: 90px 0 0;}
    .intro h1{font-size: 35px;}
    .intro h1 span{font-size: 40px;}
    .intro .icons i {margin: 30px 20px 0 0;padding: 15px;font-size: 23px;}
    .intro .border1{margin-top: -90px;margin-left: -60px;width: 430px;height: 400px;}
    .portfolio .info {margin-bottom: 90px;}
}
@media (max-width:800px) {
    .intro .border1{margin-top: -90px;margin-left: -66px;width: 420px;height: 400px;}
}
@media (min-width:768px) and (max-width:992px){
    .service .info{height: 85%;padding-bottom: 50%;}
}
@media (max-width:767px){
    .intro {padding: 35px 0 0;}
    .intro h1{font-size: 40px;}
    .intro h1 span{font-size: 60px;}
    .intro .border1{margin-top: 0;margin: auto;}
    .service .info{margin-bottom:30px}
    .portfolio {padding-top: 60px;}
}

@media (max-width:576px) {
    .navbar .navbar-brand {font-size: 60px;}
    .intro .info{margin-left: 15px;}
    .intro h1{font-size: 35px;}
    .intro h1 span{font-size: 40px;}
    .intro .icons i {margin: 7px 10px 0 0;font-size: 20px;}
    .intro .border1{width: 330px;height: 280px;margin-top:20px}
    
    .about {margin-top: 60px;}
    .about h2 {margin: -55px 0 30px 0;font-size: 50px;}

    .service {margin-top: 50px;}
    .service h2 {font-size: 50px;}
    
    .portfolio {padding-top: 50px;}
    .portfolio h2{font-size: 50px}
    .portfolio .info {max-height: 235px;}
    .portfolio .info img{height: 300px;}
}