body{padding-top: 51px;}
body::-webkit-scrollbar {
    width: 0.5em;
    background-color: #fff;
}
body::-webkit-scrollbar-thumb {
    background-color: silver;
    box-shadow: 0px 0px 30px 30px silver;
}

/* ================== navbar ========================== */

.navbar-brand > img {margin-top: -14px;}

.navbar-default .navbar-nav > li > a {color: #333;margin-left: 13px;font-weight: 600;}

.dropdown-menu > li > a{
    -webkit-transition: padding .5s ease-in-out;
    -moz-transition: padding .5s ease-in-out;
    -o-transition: padding .5s ease-in-out;
    transition: padding .5s ease-in-out;
}

.dropdown-menu > li > a:hover{color: #fff;padding-left: 30px;}

/* ======================== body sec1 ========================== */

.body-dog .dog1{background-color: #2a2929;max-height: 382px;}

.body-dog .dog1 .img-responsive{margin-top: -199px;height: 800px;}

.body-dog h1 {
    font-size: 65px;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 15px;
    color: #eee;
}

.body-dog .dog1 .btn{
    font-size: 18px;
    border:transparent;
    border-radius: 22px;
    background-size: 0 100%, auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.body-dog .dog1 .btn:hover{background-size: 100% 100%, auto;}

/* =================================== features ============================ */

.features{margin-top: 220px;}

.features .box{padding-top: 20px; box-shadow: -1px 2px 13px;}

.features .box h3{font-weight: bold;color: black;}

.features .box p {color: #fff;padding: 16px;font-size: 14px;}

/* ======================= training ====================== */

.training {padding-top: 100px;}

.training .data{margin-left: 30px;}

.training .data h4{margin-top: 26px;letter-spacing: -1px; font-weight: 600;}

.training .data h2{font-weight: 600;}

.training .data .feat h4{color:black}

.training .feat img{float: left;margin-right: 12px;}

.training .feat h4{color: black; font-weight: 600;padding: 16px;}

/* ====================== how it work ========================= */

.work{padding-top: 100px;}

.work .img-responsive{height: 420px;width: 411px;margin: auto;}

.work .div4 {
    padding-top: 20px;
    padding-bottom: 70px;
    color: black;
    margin-bottom: 1px;
    text-align: center;
    /* ====== for hover ====== */
    background-size: 0 100%, auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.work .d2, .work .d3{background-size: 100% 0, auto;}

.work .div4:hover {background-size: 100% 100%, auto;}

.work .d2,.work .d3{padding-top: 5px;padding-bottom: 5px;}

.work .d4{margin-top: -123px;}

.work .d2,.work .d4{margin-right: 28px;margin-left: -29px;}

.work .div4 h4{font-weight: 600;}

.work .div4 p{color: #fff;}

.work .div4 a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px #262323b3;
}

/* ================================== our-features ========================= */

.our-features{padding-top: 100px;padding-bottom: 100px;overflow: hidden;}

.our-features i{padding-bottom: 10px;}

.our-features .lead ~ p{font-size: 16px;}

.our-features .data{
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* ====================================== Join ======================= */

.join-to-us {padding-bottom: 70px;}

.join-to-us .container{
    padding-top: 15px;
    padding-bottom: 30px;
    color: #fff;
}

.join-to-us .container hr{
    position: relative;
    top: 20px;
    border: none;
    height: 2px;
    margin-bottom: 50px;
}

.join-to-us p{padding-bottom: 10px;}

.join-to-us .form-control {width: 300px;border-radius: 0;margin-right: -5px;}

.join-to-us .btn {border-radius: 0;}

/* ========================= footer ===================== */

.footer{color: #fff;padding-top: 10px;}

.footer p{font-size: 26px;margin-bottom: 2px;}

/* =================== scroll-top ================ */

#scroll-top{
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: silver;
    z-index: 9999;
    border-radius: 50%;
    display: none;
    color: #2a2929;
    cursor: pointer;
}

#scroll-top:hover{
    color: #333;
}

/* ================== option-box ================== */

.option-box{
    top: 100px;
    position: fixed;
    color: #fff;
    z-index: 9999;
}

.option-box .color-option{
    background-color: #333;
    float: left;
    padding: 10px;
    display: none;
}

.option-box .color-option li{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    float: left;
    cursor: pointer;
}

.option-box i{padding: 5px;cursor: pointer;}


/* ======== grouping media ======= */

@media (max-width: 768px){
    .body-dog .dog1{max-height: 100%;padding-bottom: 20px;margin-bottom: -110px;}
    .body-dog .dog1 .img-responsive{margin-bottom: -176px;}
    .body-dog h1, .body-dog .btn{margin-left: 75px;}
    .work .div4{margin-top: 1px;}
    .join-to-us .form-control {width: 400px;margin: 20px auto;}
}

@media (max-width:991px){
    .training .img-responsive {margin: auto;}
    .work .d4{margin-top: -95px;}
    .work .d2,.work .d4{margin-right: 0px;margin-left: 0px;}
    .work .d4{margin-top: 10px;margin-top: -95px;}
    .work .d3{margin-top: 1px; margin-bottom: 96px;}
}

@media (min-width:992px) and (max-width:1200px){
    .work .div4{
        margin-bottom: 1px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .work .d4{margin-top: -123px;}
}
